@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.boxWidth {
  width: 20rem;
  max-width: 100%;
  font-family: "Courier Prime", monospace !important;
  font-weight: 700;
}
